@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
        #grad1 {
            height: 50px;
            background-color: #cccccc;
            background-image: linear-gradient(red, yellow);
        }
    </style>
</head>

<center>

    <img src="~/images/stone.jpg" height="100" width="100" />
</center>
<body style="background-image: url('https://wallpaperaccess.com/full/1282794.jpg'); background-repeat: no-repeat; background-size: 100% 100% ">
    <br />
    <center>
        <p style="font-size:25px;color:midnightblue;">*********WARM WELCOME*********</p>
    </center>

    <center><div style="background-color: darkorange;"><input type="button" value="ADD DOCTOR" onclick="location.href = '@Url.Action("AddDoctor","Home")'" class="btn btn-dark" /><input type="button" value="ADD PATIENT" onclick="location.href = '@Url.Action("AddPatient","Home")'" class="btn btn-dark" /><input type="button" value="ADD SCHEDULE" onclick="location.href = '@Url.Action("Schedule","Home")'" class="btn btn-dark" /><input type="button" value="CANCEL APP" onclick="location.href = '@Url.Action("Delete","Home")'" class="btn btn-dark" /></div></center>
    <br />
    <br />



    <p style="color:black;font-style:oblique"><b>clinic, an organized medical service offering diagnostic, therapeutic, or preventive outpatient services. Often, the term covers an entire medical teaching centre, including the hospital and the outpatient facilities. The medical care offered by a clinic may or may not be connected with a hospital.</b></p>

  



</body>





